<div class="conatiner">
    <div class="col-md-8">
        <h1 style="text-align: center; margin-bottom: 2rem;">Jobs Portal</h1>
        <h5 *ngIf="jobs.length < 1" style="text-align: center;">No Jobs found</h5>
        <div *ngFor="let job of jobs; index as i">
            <div *ngIf="i % 2 == 0" class="row">
                <div class="col">
                    <app-job [job]="jobs[i]"></app-job>
                </div>
                <div *ngIf="i+1 < jobs.length" class="col">
                    <app-job [job]="jobs[i+1]"></app-job>
                </div>
            </div>
        </div>
    </div>
</div>