<h1 class="text-center mb-3">Login Form</h1>
<div class="col-sm-6 needs-validation">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
            <label class="required" for="username">Username</label>
            <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username" #username="ngModel" placeholder="Username" required>
            <span [hidden]="username.valid || !username.touched" style="color: red;">
                Username is required
            </span>
        </div>
        <div class="form-group" style="margin-bottom: 1rem;">
            <label class="required" for="password">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Password" required>
            <span [hidden]="password.valid || !password.touched" style="color: red;">
                Password is required
            </span>
        </div>
        <button [disabled]="!loginForm.valid" class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>