.login-form {
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* background-color: #3097d1; */
}

textarea.ng-touched.ng-invalid,
input.ng-touched.ng-invalid {
    border: 1px solid red;
}

a {
    text-decoration: none;
}

.card-header {
    background-color: #3097d1;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

.span-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    letter-spacing: 2px;
    text-shadow: rgb(48 151 209 / 40%) 1px 1px 5px;
    font-size: 17px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #3097d1;
}

.image {
    background-color: #3097d1;
    border-radius: 3px;
    width: 170px;
    height: 150px;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.btn-primary {
    color: #fff;
    background-color: #3097d1;
    border-color: #3097d1;
}

.row {
    align-items: center;
}