.main {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    box-shadow: 0 0 5px 2px rgb(240, 240, 240);
}

.col-md-6 {
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
}

.card-header {
    background-color: #3097d1;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

form {
    padding: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #3097d1;
    border-color: #3097d1;
}