.card {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    box-shadow: 0 0 5px 2px rgb(240, 240, 240);
}

.card-header {
    background-color: #3097d1;
    color: #fff;
    text-align: center;
}

table {
    font-size: 14px;
}

button {
    margin: 0.1rem;
}

tbody tr:hover {
    background-color: rgb(234, 244, 253);
}

.button {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #3097d1;
    border-color: #3097d1;
}