.sidebar {
    position: relative;
    /* z-index: 1000; */
    /* display: block; */
    /* padding: 1rem; */
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    box-shadow: 0 0 5px 2px #e7ebee;
    border: 1px solid #e7ebee;
    /* margin: 2rem; */
    color: #3097d1;
    font-size: 14px;
    /* box-shadow: 1px; */
}

ul {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

li {
    margin-top: 0.5rem;
    /* margin-left: -2rem;   */
    border-bottom: 1px solid #3097d1;
    transition: 0.5s;
    padding: 0.5rem;
}

@media (max-width: 720px) {
    .sidebar {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #3097d1;
}

a:hover {
    color: white;
}

li:hover {
    background-color: #3097d1;
    padding-left: 1rem;
    border-radius: 5px;
}

.active {
    background-color: #3097d1;
    padding-left: 1rem;
    border-radius: 5px;
    color: white;
}

h4 {
    background-color: #3097d1;
    padding: 0.4rem;
    border-radius: 5px;
    color: white;
    text-align: center;
}