<div class="sidebar">
    <h4>Main</h4>
    <ul>
        <a routerLink="/users">
            <li [ngClass]="{'active': currPath()==='/users'}">Users</li>
        </a>
        <a routerLink="/managers">
            <li [ngClass]="{'active': currPath()==='/managers'}">Managers</li>
        </a>
        <a routerLink="/apply-leave">
            <li [ngClass]="{'active': currPath()==='/apply-leave'}">Apply Leave</li>
        </a>
        <a routerLink="/leave-requests">
            <li [ngClass]="{'active': currPath()==='/leave-requests'}">Leave Requests</li>
        </a>
        <a routerLink="/leaves-record">
            <li [ngClass]="{'active': currPath()==='/leaves-record'}">Leaves Record</li>
        </a>
    </ul>
</div>