.span-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 720px) {
    .span-heading {
        display: none;
    }
}

.btn-primary {
    color: #3097d1;
    background-color: white;
    border-color: white;
    margin-right: 1rem;
    transition: 0.3s;
}